<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.heekyung.mungnyang.search.review.dao.ReviewDAO">
	
	<insert id="insertReview" parameterType="map">
		INSERT INTO
			`review`
		(
			`userId`
			, `hospitalId`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		VALUE 
		(
			#{userId}
			, #{hospitalId}
			, #{content}
			, now()
			, now()
		)
		
	</insert>
	
	<select id="selectReviewListByHospitalId" parameterType="int"
	resultType="com.heekyung.mungnyang.search.model.Review">
		SELECT 
			a.`id`
			,a.`userId`
			, a.`hospitalId`
			, a.`content`
			, a.`createdAt`
			, a.`updatedAt`
            , b.`name`
		FROM 
			`review` as a
            join `user` as b  on a.userId = b.loginId 
		WHERE
			`hospitalId` = #{hospitalId}
		ORDER BY 
			`id` DESC;
	
	</select>


	
</mapper>