<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.heekyung.mungnyang.search.dao.SearchDAO">

	<select id="selectSearchList" resultType="com.heekyung.mungnyang.search.model.Hospital">
		SELECT
			`id`
			, `office`
			, `address`
			, `phoneNumber`
			, `createdAt`
			, `updatedAt`
		FROM
			`hospital`
	</select>
	
	
	<select id="selectSearch" parameterType="int"
	resultType="com.heekyung.mungnyang.search.model.Hospital">
		SELECT
		`id`
		, `office`
		, `address`
		, `phoneNumber`
		, `createdAt`
		, `updatedAt`
		FROM
			`hospital`
		WHERE
			`id` = #{searchId}
	</select>
	
</mapper>