@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}

header {
	height:70px;
}

.contents {
	height:600px;
}

.contents > .join-box {
	height:600px;
	width:450px;
	
}

.contents > .login-box {
	height:600px;
	width:450px;
	
}

.contents > .main-box {
	height:600px;
	width:800px;
	
}


footer {
	height:50px;
}
